// Main Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;

// Colors
$almost-white: #fffdfa;
$dark-space-blue: #00001a;
$gunmetal: #5e607a;
$light-vermillion: #f15d51;
$silver: #c5c6ce;
$yellow: #e9aa52;
