@use "./../01-abstracts/" as *;

body {
  background-color: #f2f2f2;
}

a,
button {
  transition: 0.2s;
  position: relative;
  &:active {
    top: 1px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $light-vermillion;
  }
}

button {
  cursor: pointer;
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    box-shadow: 0 0 10px 20px $light-vermillion;
  }

  &:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
  }
}
