@use "./../01-abstracts/" as *;

.bottom {
  padding: 0 16px 80px;
  max-width: calc(1110px + 32px);
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
  @include breakpoint($md) {
    gap: 30px;
    padding-bottom: 129px;
  }

  &__article {
    display: flex;
    gap: 24px;
    @include breakpoint(768px) {
      flex-basis: 350px;
    }
  }

  &__img {
    max-width: 100px;
    height: fit-content;
  }

  &__number {
    font-weight: 700;
    font-size: rem(32px);
    line-height: 1;
    color: $silver;
    margin-bottom: 12px;
  }

  &__title {
    font-size: rem(18px);
    line-height: 1.33;
    margin-bottom: 9px;
  }

  &__text {
    font-size: rem(15px);
    line-height: 1.73;
  }
}
